@import 'variable.scss';


// Common
// ====
// .nt-header{
//     &+*{
//         padding-top: $nt-gutter * 3;
//     }
// }

// Element spesific
// ====
// Hero
.nt-hero{
    min-height: 450px;
    background-image: url("https://cdn.pixabay.com/photo/2017/05/20/10/03/trade-2328525_1280.jpg");
    background-size: 100% auto;
}

// Currency list
.nt-currencies-list{
    .nt-flag{
        font-size: 60px;
        line-height: 51px;
    }
}
// Money converter
.nt-money-converter-wrap{
    margin-top: -300px;
}