@import 'variable.scss';


// Common
// ====
// .nt-header{
//     &+*{
//         padding-top: $nt-gutter * 3;
//     }
// }

// Element spesific
// ====
// Hero
.nt-hero{
    min-height: 450px;
}

// Currency list
.nt-currencies-list{
    .nt-flag{
        font-size: 60px;
        line-height: 51px;
    }
}
// Money converter
.nt-money-converter-wrap{
    margin-top: -300px;
}